<div class="text-center">
  <h1>タスク一覧</h1>
</div>
<div class="container">
  <div class="row">　
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Status</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <th><%= link_to task.id, task_path(task) %></th>
            <td><%= task.status %></td>
            <td><%= task.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to "タスク作成", new_task_path(), class: "btn btn-dark btn-block" %>
  </div>
</div>



